<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>

<div class="container">
<hr>
<div class="row well">
<div class="col-md-1 well">
  <p >1</p>
</div>
  <div class="col-md-1 well">
  <p >2</p>
  </div>
    <div class="col-md-1 well">
  <p >3</p>
    </div>
      <div class="col-md-1 well">
  <p >4</p>
      </div>
        <div class="col-md-1 well">
  <p >5</p>
        </div>
          <div class="col-md-1 well">
  <p >6</p>
          </div>
            <div class="col-md-1 well">
  <p >7</p>
            </div>

</div>
</div>
